
   
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
justify-content: center;
}
img{
    width: 5.5rem;
    height: 5.2rem;
    border-radius: 50%;
}
.img{
    position: fixed;
}
#title{
    text-align: center;
    padding: 0.8rem 0;
    font-size: 3rem;    
    color: rgb(77, 82, 137);
    background: rgba(192, 193, 227, 0.55);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.questions{
    margin: 3rem auto;
    width: 90vw;
    padding: 2rem;
    background: rgba(219, 248, 244, 0.45);
    cursor: default;
    border-radius: 10px;
}
#question{
    margin-bottom: 1rem;
}
#questionsDisplay{
    display: none;
}
.option{
    margin-bottom: 10px;
    font-size: 20PX;
    border-bottom: solid 0.1rem blue;
    width: 250px;
    background: lightblue;
}


ol{
    position: relative;
    padding: 0 1.5rem;
    color: rgb(1,73,73);
}
span{
    display: block;
    padding: 0.1rem 0.7rem;
}
#answer{
    margin-top: 2.5rem;
}
#stat{
    margin-top: 1.5rem;
    color: rgb(6,17,168);
}
.startButtons{
    padding: 10px;
    margin-top: 100px;
    text-align: center;
}
.nextButtons{
    text-align: center;
}
button{
    padding: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    color: rgba(247, 246, 249, 0.98);
    background: rgba(25, 61, 86, 0.82);
}
button:active{
    background: lavender;
}
#scoreboard,#answerBank{
    width: 200px;
    background: rgba(230,230,250,0.77);
    padding: 10px;
    text-align: center;
    margin: auto;
    position: relative;
    top: 5 px;
    display: none;
}
#score-title{
    margin: 30px;
}
#score-btn,#check-answer{
    margin-top: 20px;
}
#score{
    font-size: 20px;
}
#answerBank li{
    text-align: left;
    margin-bottom: 10px;
    font-size: larger;
}
#answers{
    margin-top: 10px;
}
